.preview img {

    width: 1123px;
    position: absolute; /*прикручує картинку */

}

.preview .row {
    
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 1000px;
   

}

.preview .row>* {
    
    padding-right: 0px !important;
    padding-left: 0px !important;
   

}

.preview [class*="col-"] {
    z-index: 2;   /* глибина, у кого більше z-index той того покриває, по дефолту у всіх 1, */
    margin-top: 280px;
    width: 550px;
    height: 350px;
    background-color: rgb(53,82,71);
}

.preview .info-preview {
    padding: 30px 60px;
    justify-content: center;
}

.preview .text1 {
    padding: 5px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.preview .text2 {
    font-weight: 100;
    color: white;
    font-size: 3.75rem;
    margin: 20px 0 0;
}

.preview .btn {
    color: #ffff;
    border-color: #ffff;
    text-transform: uppercase;
    padding: 10px 39px;
    margin: 30px auto 0 0;
    text-align: center;
    border-radius: 0px;
    font-size: 20px;
}

.preview .btn:hover {
    color: black;
    background-color: #ffff;
    transition: 0.7s;
}


/* Our Work Section */

.our-work .container {
    padding: 0 120px 0 120px;
}

.our-work img {
    max-width: 100%;
    max-height: 100%
}

.our-work-img {
    padding-right: 30px;
}

.our-work-text {
    padding-left: 60px;
    padding-right: 60px;
}

.our-work-text h2 {
    margin-top: 30px;
    font-size: 60px;
    font-weight: 200;

}

.our-work-text  p {
    margin-top: 30px;
    font-size: 20px;
    text-align: left;
    line-height: 2;

}

