.preview img {

    width: 1123px;
    position: absolute; /*прикручує картинку */

}

.preview .row {
    
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 1000px;
   

}

.preview .row>* {
    
    padding-right: 0px !important;
    padding-left: 0px !important;
   

}

.preview [class*="col-"] {
    z-index: 2;   /* глибина, у кого більше z-index той того покриває, по дефолту у всіх 1, */
    margin-top: 280px;
    width: 550px;
    height: 350px;
    background-color: rgb(53,82,71);
}

.preview .info-preview {
    padding: 30px 60px;
    justify-content: center;
}

.preview .text1 {
    padding: 5px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.preview .text2 {
    font-weight: 100;
    color: white;
    font-size: 3.75rem;
    margin: 20px 0 0;
}

.preview .btn {
    color: #ffff;
    border-color: #ffff;
    text-transform: uppercase;
    padding: 10px 39px;
    margin: 30px auto 0 0;
    text-align: center;
    border-radius: 0px;
    font-size: 20px;
    letter-spacing: 2px;
}

.preview .btn:hover {
    color: black;
    background-color: #ffff;
    transition: 0.1s;
}


/* Our Work Section */

.our-work .container {
    padding: 0 120px 0 120px;
}

.our-work img {
    max-width: 100%;
    max-height: 100%
}

.our-work-img {
    padding-right: 30px;
}

.our-work-text {
    padding-left: 60px;
    padding-right: 60px;
}

.our-work-text h2 {
    margin-top: 30px;
    font-size: 60px;
    font-weight: 200;

}

.our-work-text  p {
    margin-top: 30px;
    font-size: 20px;
    text-align: left;
    line-height: 2;

}


/* Info Section */

.info .info-img img {
    max-width: 100%;
    height: 100%;
}

.info .info-img {
    padding-left: 0px;
    padding-right: 0px;
}

.info .container-fluid {
    margin-left: 0px;
    margin-right: 0px;
}

.info .row {
    margin-top: 100px;
}


.info .info-text {
    margin-left: 0px;
    margin-right: 0px;
    padding: 50px 50px 50px 50px;
    text-align: center;
    
    background-color: rgb(26, 73, 45);
    color: rgb(221, 221, 185);
}

.info-text >div {
    height: 100%;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-text img{
    height: 30px;
    margin-top: 10px;
}

.info-text h3 {
    text-transform: uppercase;
}

.info-text p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 2;
}

/* Collections Section */

.collections .row {
    margin-top: 150px;
}

.collections div, .collections a, .collections p, .collections h3 {
    z-index: 1;
}

/* .collections .background-img {
    margin-top: 80px;                 //to add in mobile version
} */

.collections .background-img img {
    max-width: 100%;
    max-height: 100%
   
}


.collections-text {
    padding-left: 120px;
    padding-right: 80px;
}

.collections-text h3 {
    font-size: 25px;
    font-weight: 450;
}

.collections p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 2;
}

.collections .btn {
    color: rgb(163, 143, 83);
    border-color: rgb(163, 143, 83);
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    border-radius: 0px;
    font-size: 15px;
    letter-spacing: 2px
}

.collections .btn:hover {
    color: white;
    background-color: rgb(163, 143, 83);
    transition: 0.1s;
}


.collections-img {
    margin-top: 100px; 
    height: 350px;
}

.collections-img img {
    height: 100%;
    max-width: 100%;
    float: right;
    max-height: 100%
    
}



#circle  {
    margin-left: 100px;
    width: 100px;
    height: 100px;
    background: rgb(53,82,71);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.collections-plants-text {
    margin-top: 250px;
}

.collections-plants-text h1 {
    font-weight: 150;
    font-size: 50px;
    
}





